.o-inner {
    >.c-text {
        font-size: 1.6rem;
        line-height: 2;
        text-align: left;
    }
}

.value-item {
    >.c-text {
        font-size: 1.6rem;
        margin-bottom: 6px;
        display: list-item;
        list-style-position: outside;
        margin-left: 20px;

        &::marker {
            color: $red;
        }
    }
}

.c-company-name-vertical {
    color: $red;
    font: normal bold 12px Montserrat;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    position: fixed;
    left: 2%;
    bottom: 310px;
    padding: 0;
    margin: 0;
}
