.c-vertical-line {
    width: 1px;
    margin: 18px auto 0;
    left: 50%;
    position: absolute;
}

.c-border {
    display: flex;
    align-items: center;

    >.c-linered {
        display: inline-block;
        width: 50px;
        height: 1px;
        background-color: $red;
        transition: all .3s;
    }

    >.c-linewhite {
        display: inline-block;
        margin-left: -10px;
        width: 350px;
        height: 1px;
        background-color: $white;
        transition: all .3s;
    }
}

.o-recruit-container:hover.o-recruit-container>.o-box>.o-inner>.c-border {
    >.c-linered {
        width: 400px;
    }

    >.c-linewhite {
        width: 0px;
    }
}
