.o-title>.c-sub {
    font-size: 1.8rem;
    color: $gray;
    font-weight: 700;
}

.o-heading>.c-sub {
    font-size: 1.6rem;
    display: block;
    font-weight: 400;
}

.value-item>.c-sub {
    font-size: 1.6rem;
    font-weight: 700;
    color: #333;
    position: relative;
    margin-bottom: 10px;
    margin-top: 25px;

    &::before {
        content: "";
        position: absolute;
        top: -60%;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: $red;
    }
}

.c-title-text {
    color: $gray;
    opacity: 0;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 0;
    padding: 0;

    & {
        animation-name: titleTextAnim;
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
        animation-timing-function: step-end;
    }
}

.c-title-animation {
    position: relative;
    overflow: hidden;
}

.c-title-animation::after {
    background: $gray-dark;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, 100%);
}

.c-title-animation.is-animated {
    color: $gray;
}

.c-title-animation.is-animated::after {
    animation: titleAnim 1.2s cubic-bezier(0.8, 0, 0.170, 1);
}

.c-value-title {
    color: $red;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
}
