.o-common-container {
    position: relative;
    z-index: 3;
}

.o-container {
    max-width: 1000px;
    margin: 0 auto;
}

.o-common-container>.o-container {
    padding: 80px 0;
}

.o-company-container {
    text-align: center;
}

.o-company-container>.o-title {
    text-align: center;
    margin-bottom: 40px;
}

.o-inner {
    width: 100%;
}
