.o-common-headline {
    text-align: center;
    position: relative;
    margin-bottom: 100px;
}

.o-common-headline>.o-headline {
    font-size: 5.4rem;
    font-weight: 500;
    letter-spacing: 3px;
}

.o-heading {
    font-size: 3.6rem;
    font-weight: 700;
    margin: 0 auto 40px;
}
