.o-header-container {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    transition-duration: .5s;
    padding-top: 90px;
    margin-top: -90px;
    background-color: white;
    transition: all .3s;
}

.o-header-container {
    >.o-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 80px;
        margin: 0 auto;
        position: relative;
    }
}

.o-header-container {
    >.o-inner {
        >.o-logo {
            width: 60px;
            display: flex;
            align-items: center;
        }
    }
}

.o-header-container {
    >.o-inner {
        >.o-logo {
            >.o-image {
                width: 100%;
            }
        }
    }
}

.o-header-nav {
    display: flex;
    margin: 0;
}

.o-header-nav {
    >.o-list {
        padding: 20px;
    }
}

.o-header-slider {
    width: 1000px;
    height: 0px;
    display: none;
    position: absolute;
    background-color: $gray-dark;
    top: 80px;
    flex-direction: column;
}

.o-header-nav {
    >.o-list:hover~.o-header-slider {
        & {
            animation: headerSlide;
            animation-fill-mode: forwards;
            animation-duration: 0.5s;
            animation-timing-function: step-end;
        }
    }

}


.o-common-container {
    position: relative;
    z-index: 3;
}

.o-container {
    max-width: 1000px;
    margin: 0 auto;
}

.o-common-container>.o-container {
    padding: 80px 0;
}

.o-company-container {
    text-align: center;
}

.o-company-container>.o-title {
    text-align: center;
    margin-bottom: 40px;
}

.o-inner {
    width: 100%;
}

.o-recruit-container {
    >.o-box {
        >.o-inner {
            display: flex;
            align-items: center;
            margin-bottom: 50px;
        }
    }
}

.foot-card {
    >.o-inner {
        padding: 80px 0 60px;
        background-color: $gray-light;
        text-align: center;

        >.o-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            max-width: 340px;
            margin: auto;
            background-color: $gray-light;

            >.o-icon {
                position: relative;
                width: 64px;
                height: 64px;
                background-color: $white;
                box-shadow: 2px 2px 1px rgba(177, 177, 177, 50%);
            }
        }
    }
}

.o-recruit-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #656565;
    overflow: hidden;

    >.o-box {
        display: block;
        box-sizing: border-box;
        width: 50%;
        height: 550px;
        color: $white;
    }
}

.o-recruit-container {
    >.o-box {
        .o-image {
            width: 100%;
            height: 100%;
        }
    }
}

.o-recruit-container {
    >.-image::before {
        position: absolute;
        z-index: 3;
        content: "";
        width: 0%;
        height: 100%;
        background-color: rgba(232, 55, 74, .5);
    }
}

.o-recruit-container:hover {
    >.-image::before {
        transition: all .3s;
        width: 100%;
    }
}

.o-page-top-container {
    position: relative;
}

.o-page-top-container {
    >.o-container {
        position: absolute;
        bottom: 10px;
        display: flex;
        right: 40px;
        z-index: 3;
    }

    >.o-container img {
        width: 60px;
        height: 60px;
    }
}

.o-footer-container {
    position: relative;
    z-index: 11;
}

.o-footer-container {
    >.o-container {
        width: 100%;
        max-width: unset;
        display: flex;
    }
}

.o-footer-container {
    >.o-container {
        >.o-box {
            width: 25%;
            min-width: 362px;
            background-color: $black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.o-footer-container {
    >.o-container {
        >.o-box {
            >.o-inner {
                >.o-logo {
                    margin-bottom: 30px;
                    text-align: center;
                }
            }
        }
    }
}

.o-footer-list {
    width: 75%;
}

.o-footer-list {
    >.o-container {
        box-sizing: border-box;
        max-width: unset;
        padding: 80px 90px;
        background-color: $gray-dark;
        display: flex;
        justify-content: space-between;
    }
}

.o-footer-list {
    >.o-container {
        >.list {
            >.o-item {
                margin-bottom: 20px;
            }
        }
    }
}
