@keyframes titleTextAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes titleAnim {
    0% {
        transform: translate(-100%, 0)
    }

    40%,
    60% {
        transform: translate(0, 0%)
    }

    100% {
        transform: translate(100%, 0)
    }
}
