.u-mt80 {
    margin-top: 80px;
}

.u-mb-large {
    margin-bottom: 150px;
}

.u-mb-middle {
    margin-bottom: 120px;
}

.u-mb-100 {
    margin-bottom: 100px;
}

.u-mb-small {
    margin-bottom: 80px;
}

.u-mb-very-small {
    margin-bottom: 40px;
}
