.u-red {
    color: $red;
}

.-u-white {
    color: $white;
}

.-u-bgred {
    background-color: $red;
}

.-u-bgredlight {
    background-color: $red-light;
}

.-u-bgwhite {
    background-color: $white  !important;
}

.c-vertical-line.u-red {
    background-color: $red;
}
