@import "settings.colors";
@import "settings.global";
@import "tools.title-anim";
@import "bases.texts";
@import "objects.containers";
@import "objects.headlines";
@import "objects.lists";
@import "components.lines";
@import "components.titles";
@import "components.texts";
@import "components.tables";
@import "trumps.colors";
@import "trumps.heights";
@import "trumps.widths";
@import "trumps.margin-heights";
@import "trumps.size";
@import "trumps.display";
